* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Permite que os itens se ajustem em várias linhas, se necessário */
}

.team-member {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 250px; /* Largura fixa para cada perfil */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-member img {
    border-radius: 50%; /* Arredonda a imagem para um formato de círculo */
    width: 100px; /* Largura da imagem */
    height: 100px; /* Altura da imagem */
}
